<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINSTAGRAM</title>
    <link rel="icon" href="{% static 'app/images/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- google font import -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Lobster" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>

<body>
    <div class="container">
        <h1 id="header-title">FINSTAGRAM</h1>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'app:upload' %}" title="upload a photo">
                        <i class="fa fa-camera-retro fa-2x"></i>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Topics
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'app:topics' 1 %}">Sports</a>
                            </li>
                            <li>
                                <a href="{% url 'app:topics' 2 %}">Code</a>
                            </li>
                            <li>
                                <a href="{% url 'app:topics' 3 %}">Nature</a>
                            </li>
                            <li>
                                <a href="{% url 'app:topics' 4 %}">Animals</a>
                            </li>
                            <li>
                                <a href="{% url 'app:topics' 5 %}">Other</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Most Popular
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'app:mostpopular' %}">by Comments</a>
                            </li>
                            <li>
                                <a href="{% url 'app:buzzingcomments' %}">by Likes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'app:signup' %}">
                            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'app:login' %}">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </div>
    <script src="{% static 'app/index.js' %}"></script>
</body>

</html>