<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- google font import -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Lobster" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="col-lg-6 col-lg-offset-3 navbar-default navbar-fixed-top">
                <h1>FinstaGram</h1>
                <hr> 
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4 margins">
            <div class="row">
                {% block body %} 
                {% if objects %} 
                {% for obj in objects %}
                <div class="thumbnail">
                    <div class="inline">
                        <form action="{% url 'app:delete' obj.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button id="delete-picture">
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            </button>
                            <p id="time-posted">{{ obj.uploaded_at }}</p>
                        </form>                
                        <p class="username">Posted By: {{ obj.uploaded_by }}</p>
                    </div>
                    <img src="{% static obj.image_url %}?t={% now 'u' %}" />
                    <p>{{ obj.caption }}</p>
                    <a id="filter-link" href="{% url 'app:filter' obj.id %}">Filter</a>
                </div>
                {% endfor %} 
                {% else %}
                    <h1>
                        NO PICTURES HAVE BEEN POSTED! <i class="fa fa-frown-o" aria-hidden="true"></i>
                    </h1>
                {% endif %} 
                {% endblock body %}
            </div>
        </div>
        <div class="footer col-lg-6 col-lg-offset-3">
            <a href="{% url 'app:upload' %}" title="all users">
                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
            </a>            
            <a href="{% url 'app:upload' %}" title="upload a photo">
                <i class="fa fa-camera-retro fa-4x"></i>
            </a>
            <a href="{% url 'app:upload' %}" title="likes">
                <i class="fa fa-heart fa-4x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</body>

</html>