.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    /* width: 65%; */
    background-color: slategray;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.navbar-default {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
        left,
        lightgreen
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(
        right,
        lightgreen
    ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(
        right,
        lightgreen
    ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(
        to right,
        lightblue,
        lightgreen
    ); /* Standard syntax */
    border-radius: 25px;
}

hr {
    background-color: dimgrey;
    color: dimgrey;
    border-color: dimgrey;
    height: 8px;
    border-radius: 50px;
}

.inline {
    display: inline;
}

.header {
    font-family: 'Lobster', cursive;
    position: absolute;
    text-align: center;
    font-size: 8em;
}

#time-posted {
    color: lightgrey;
}

.username {
    font-size: 2em;
    font-weight: bold;
}

.fa-heart {
    float: right;
}

.fa-user {
    float: left;
}

.fa-4x {
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
}

#delete-picture {
    float: right;
    background-color: lightblue;
    border-color: lightblue;
    border-radius: 5px;
}

.margins {
    margin-top: 10em;
    margin-bottom: 6em;
    text-align: center;
}

h4 {
    font-weight: bold;
}

.thumbnail {
    border: 4px solid lightblue;
}

#filter-link {
    color: lightblue;
}
